#header
{
	padding-top: 5px;
}

#footer
{
	background-color: black;
	padding-bottom: 50px;
}

div.spacer #header
{
	padding-top: 5px;
}

#footer
{
	background-color: black;
	padding-bottom: 50px;
}

div.spacer 
{
	height: 0.5em;
}

#newsfeed
{
	font-family: Century Gothic, Arial;
	font-size: 14px;
	height: 435px;
	width: 580px;
	overflow:auto;
	padding:5px;
	margin-top:30px;
}

#titlePanel
{
	margin-top: 13px;
	font-family: Century Gothic, Arial;
	font-size: 20px;
}

#newsfeed p
{
	text-align: left;
	text-align: justify;
}


#newsfeed p4
{
	text-align: left;
	font-weight: bold;
}

#newsBreak
{
	margin: 0px;
	margin-top:10px;
	margin-bottom:15px;
	height: 2px;
	background-color: black;
}
{
	height: 0.5em;
}
